In [1]:
import requests
import json
from IPython.display import clear_output

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual

In [144]:
# Esta función recupera la información de postdata, dado el link del API y el total de datos a recuperar

def get_df_from_link(id):
    link = 'https://postdata.gov.co/api/action/datastore/search.json?resource_id='
    # descargar 10000 primeros datos
    tama = 10000
    link_get = requests.get(f'{link}{id}&limit={tama}')
    link_full = link_get.json()
    link_records = link_full['result']['records']
    link_json = json.dumps(link_records)
    df_ini = pd.read_json(link_json)
    df = df_ini.copy()

    print(f'>> datos recuperados: {len(df_ini)}')
    df_temp = df_ini.copy()
    i = 1
    while len(df_temp) == tama:
        offset = tama * i
        link_get = requests.get(f'{link}{id}&offset={offset}&limit={tama}')
        link_full = link_get.json()
        link_records = link_full['result']['records']
        link_json = json.dumps(link_records)
        df_temp = pd.read_json(link_json)

        df = pd.concat([df_ini, df_temp])
        df.reset_index(drop=True, inplace=True)

        df_ini = df.copy()
        clear_output(wait=True)
        print(f'>> datos recuperados: {len(df_ini)}')

        i += 1
    print(f'PROCESO FINALIZADO - datos recuperados: {len(df_ini)}')
    return df

# Descarga de datos
- Descarga de los datos
- Creación de los dataframe
- Guardado de los csv

In [145]:
# Suscriptores de TV por Suscripción
id = '0c4b69a7-734d-432c-9d9b-9dc600d50391'
df_tv_sucrp = get_df_from_link(id)
df_tv_sucrp.to_csv(f'./bases_datos/suscriptores_tv.csv', index=False)
df_tv_sucrp

PROCESO FINALIZADO - datos recuperados: 546741

,anno,trimestre,mes,tipo_operador,id_operador,operador,id_departamento,departamento,id_municipio,municipio,esal,suscriptores,segmento,desc_segmento,tipo_tecnologia,des_tipo_tecnologia_television,entry_id
0,2010,1,1,MUNICIPALES,800075305,INGENIERIA EN POTENCIA ELECTRICA Y COMUNICACIO...,54,NORTE DE SANTANDER,54498,OCAÑA,0,2021,0,NA,0,NA,1
1,2010,1,1,MUNICIPALES,800096566,CENTRO ELECTRONICO SERVI-AUTO RADIO SAR Y COMP...,99999,NA,99999,NA,0,0,0,NA,0,NA,2
2,2010,1,1,MUNICIPALES,800111243,ALPEVISION S.A.,41,HUILA,41001,NEIVA,0,0,0,NA,0,NA,3
3,2010,1,1,MUNICIPALES,800132211,H V TELEVISION S.A.S.,25,CUNDINAMARCA,25754,SOACHA,0,18928,0,NA,0,NA,4
4,2010,1,1,MUNICIPALES,800179562,LEGON TELECOMUNICACIONES S.A.S.,5,ANTIOQUIA,5154,CAUCASIA,0,369,0,NA,0,NA,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546736,2022,1,3,NA,901453896,FIBERLINKNETWORKS S.A.S,5,ANTIOQUIA,5736,SEGOVIA,0,903,1,Residencial - Estrato 1,2,HFC Analógica,546737
546737,2022,1,3,NA,901453896,FIBERLINKNETWORKS S.A.S,86,PUTUMAYO,86568,PUERTO ASÍS,0,135,1,Residencial - Estrato 1,2,HFC Analógica,546738
546738,2022,1,3,NA,901460140,DIGI COMUNICACIONES TV. NET S.A.S.,13,BOLÍVAR,13650,SAN FERNANDO,0,49,1,Residencial - Estrato 1,2,HFC Analógica,546739
546739,2022,1,3,NA,901491625,VITEL COMUNICACIONES NET SAS,68,SANTANDER,68276,FLORIDABLANCA,0,142,3,Residencial - Estrato 3,3,HFC Digital,546740
546740,2022,1,3,NA,901501135,TUNET-WORK S.A.S.,54,NORTE DE SANTANDER,54405,LOS PATIOS,0,115,2,Residencial - Estrato 2,6,Otro,546741

In [146]:
# Ingresos de TV por Suscripción
id = '1033b0f2-8107-4e04-ae33-8b12882b762d'
df_tv_ingresos = get_df_from_link(id)
df_tv_ingresos.to_csv(f'./bases_datos/ingresos_tv.csv', index=False)
df_tv_ingresos

>> datos recuperados: 2182
PROCESO FINALIZADO - datos recuperados: 2182

,anno,trimestre,id_empresa,desc_empresa,id_servicio,servicio,id_concepto,concepto,ingresos,ingr_brutos_pauta_publicitaria,entry_id
0,2014,1,800075305,INGENIERIA EN POTENCIA ELECTRICA Y COMUNICACIO...,108,Televisión por suscripción,0,NA,"46929764,0","0,0",1
1,2014,1,800132211,HV TELEVISION SAS,108,Televisión por suscripción,0,NA,"3867871196,0","0,0",2
2,2014,1,800179562,LEGON COMUNICACIONES SAS,108,Televisión por suscripción,0,NA,"19603015,0","0,0",3
3,2014,1,800256449,ALFASURT TV CABLE LTDA,108,Televisión por suscripción,0,NA,"178837437,0","0,0",4
4,2014,1,802003000,TEVECOM LTDA,108,Televisión por suscripción,0,NA,"20273276,0","0,0",5
...,...,...,...,...,...,...,...,...,...,...,...
2177,2022,1,901440102,GLOBAL WEB1 S.A.S,100,Televisión por suscripción,0,NA,"34989000,0","0,0",2178
2178,2022,1,901453896,FIBERLINKNETWORKS S.A.S,100,Televisión por suscripción,0,NA,"100576947,0","0,0",2179
2179,2022,1,901460140,DIGI COMUNICACIONES TV. NET S.A.S.,100,Televisión por suscripción,0,NA,"1815210,0","0,0",2180
2180,2022,1,901491625,VITEL COMUNICACIONES NET SAS,100,Televisión por suscripción,0,NA,"14066361,0","0,0",2181
2181,2022,1,901501135,TUNET-WORK S.A.S.,100,Televisión por suscripción,0,NA,"5532895,0","0,0",2182

In [112]:
# Líneas de Telefonía Local
id = '967fbbd1-1c10-42b8-a6af-88b2376d43e7'
df_tel_local = get_df_from_link(id)
df_tel_local.to_csv(f'./bases_datos/telefonia_local.csv', index=False)
df_tel_local

,anno,trimestre,id_empresa,empresa,id_departamento,departamento,id_municipio,municipio,id_ubicacion,ubicacion,id_segmento,segmento,lineas,entry_id
0,2012,1,800135729,ERT SA ESP,76,VALLE DEL CAUCA,76001,CALI,2,Urbano,1072,Comercial,938,1
1,2012,1,800135729,ERT SA ESP,76,VALLE DEL CAUCA,76001,CALI,2,Urbano,1073,Oficial,603,2
2,2012,1,800135729,ERT SA ESP,76,VALLE DEL CAUCA,76109,BUENAVENTURA,2,Urbano,101,Residencial - Estrato 1,283,3
3,2012,1,800135729,ERT SA ESP,76,VALLE DEL CAUCA,76109,BUENAVENTURA,2,Urbano,102,Residencial - Estrato 2,636,4
4,2012,1,800135729,ERT SA ESP,76,VALLE DEL CAUCA,76109,BUENAVENTURA,2,Urbano,103,Residencial - Estrato 3,743,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265101,2022,1,901333616,TPE COMUNICACIONES COLOMBIA SAS,50,META,50001,VILLAVICENCIO,0,NA,101,Residencial - Estrato 1,152,265102
265102,2022,1,901333616,TPE COMUNICACIONES COLOMBIA SAS,50,META,50001,VILLAVICENCIO,0,NA,102,Residencial - Estrato 2,356,265103
265103,2022,1,901333616,TPE COMUNICACIONES COLOMBIA SAS,50,META,50001,VILLAVICENCIO,0,NA,103,Residencial - Estrato 3,1052,265104
265104,2022,1,901333616,TPE COMUNICACIONES COLOMBIA SAS,50,META,50001,VILLAVICENCIO,0,NA,104,Residencial - Estrato 4,77,265105
265105,2022,1,901333616,TPE COMUNICACIONES COLOMBIA SAS,50,META,50001,VILLAVICENCIO,0,NA,105,Residencial - Estrato 5,30,265106

In [113]:
# Ingresos de Telefonía Local
id = 'f923f3bc-0628-44cc-beed-ca98b8bc3679'
df_tel_ingresos = get_df_from_link(id)
df_tel_ingresos.to_csv(f'./bases_datos/ingresos_telefonia_local.csv', index=False)
df_tel_ingresos

,anno,trimestre,id_empresa,empresa,ingresos,entry_id
0,2012,1,800135729,ERT SA ESP,1244080836,1
1,2012,1,800204278,METROPOLITANA DE TELECOMUNICACIONES S.A. E.S.P...,14052264110,2
2,2012,1,800208518,EMPRESA DE TELEFONOS DE JAMUNDI S.A. E.S.P. - ...,"165585465,39",3
3,2012,1,800224288,UNITEL S.A ESP,"1489714939,7",4
4,2012,1,805030753,IPSOFACTUM S.A.S.,2234340,5
...,...,...,...,...,...,...
838,2022,1,899999115,EMPRESA DE TELECOMUNICACIONES DE BOGOTA S.A. ESP,88173830909,839
839,2022,1,900092385,UNE EPM TELECOMUNICACIONES S.A.,74886071496,840
840,2022,1,900292948,UNIMOS EMPRESA MINICIPAL DE TELECOMUNICACIONES...,186932390,841
841,2022,1,901169857,NODO PACIFICO S.A.S E.S.P,0,842
842,2022,1,901354361,PARTNERS TELECOM COLOMBIA SAS,0,843

In [114]:
# Tráfico de Telefonía Local
id = 'bb2b4afe-f098-4c5d-819a-cba76337c3a9'
df_tel_trafico = get_df_from_link(id)
df_tel_trafico.to_csv(f'./bases_datos/trafico_telefonia_local.csv', index=False)
df_tel_trafico

,anno,trimestre,id_empresa,empresa,id_departamento,departamento,id_municipio,municipio,id_ubicacion,ubicacion,id_segmento,segmento,trafico,entry_id
0,2012,1,800135729,ERT SA ESP,76,VALLE DEL CAUCA,76001,CALI,2,Urbano,101,Residencial - Estrato 1,1184,1
1,2012,1,800135729,ERT SA ESP,76,VALLE DEL CAUCA,76001,CALI,2,Urbano,102,Residencial - Estrato 2,18623,2
2,2012,1,800135729,ERT SA ESP,76,VALLE DEL CAUCA,76001,CALI,2,Urbano,103,Residencial - Estrato 3,2188,3
3,2012,1,800135729,ERT SA ESP,76,VALLE DEL CAUCA,76001,CALI,2,Urbano,104,Residencial - Estrato 4,537,4
4,2012,1,800135729,ERT SA ESP,76,VALLE DEL CAUCA,76001,CALI,2,Urbano,105,Residencial - Estrato 5,1166,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264471,2021,4,899999115,EMPRESA DE TELECOMUNICACIONES DE BOGOTA S.A. ESP,25,CUNDINAMARCA,25817,TOCANCIPÁ,NA,NA,102,Residencial - Estrato 2,5975,264472
264472,2021,4,899999115,EMPRESA DE TELECOMUNICACIONES DE BOGOTA S.A. ESP,25,CUNDINAMARCA,25817,TOCANCIPÁ,NA,NA,103,Residencial - Estrato 3,2593,264473
264473,2021,4,899999115,EMPRESA DE TELECOMUNICACIONES DE BOGOTA S.A. ESP,25,CUNDINAMARCA,25817,TOCANCIPÁ,NA,NA,104,Residencial - Estrato 4,5,264474
264474,2021,4,899999115,EMPRESA DE TELECOMUNICACIONES DE BOGOTA S.A. ESP,25,CUNDINAMARCA,25754,SOACHA,NA,NA,102,Residencial - Estrato 2,2115650,264475
264475,2021,4,899999115,EMPRESA DE TELECOMUNICACIONES DE BOGOTA S.A. ESP,25,CUNDINAMARCA,25754,SOACHA,NA,NA,103,Residencial - Estrato 3,1890570,264476

In [115]:
# Accesos de Internet Fijo hasta 2017-1T
id = '7c738136-b1ba-4f2c-9f99-e67b282d6425'
df_internet_1 = get_df_from_link(id)
df_internet_1.to_csv(f'./bases_datos/accesos_internet_fijo_hasta20171T.csv', index=False)
df_internet_1

,anno,trimestre,id_empresa,empresa,id_departamento,departamento,id_municipio,municipio,id_segmento,segmento,id_tecnologia,tecnologia,accesos,entry_id
0,2010,1,830104796,GILAT NETWORKS COLOMBIA S.A. ESP,13,BOLIVAR,13620,SAN CRISTOBAL,14,COMPARTEL - TELECENTRO,6,SATELITAL,1,1
1,2010,1,830104796,GILAT NETWORKS COLOMBIA S.A. ESP,13,BOLIVAR,13647,SAN ESTANISLAO,14,COMPARTEL - TELECENTRO,6,SATELITAL,1,2
2,2010,1,830104796,GILAT NETWORKS COLOMBIA S.A. ESP,13,BOLIVAR,13650,SAN FERNANDO,14,COMPARTEL - TELECENTRO,6,SATELITAL,1,3
3,2010,1,830104796,GILAT NETWORKS COLOMBIA S.A. ESP,13,BOLIVAR,13654,SAN JACINTO,14,COMPARTEL - TELECENTRO,6,SATELITAL,1,4
4,2010,1,830104796,GILAT NETWORKS COLOMBIA S.A. ESP,13,BOLIVAR,13655,SAN JACINTO DEL CAUCA,14,COMPARTEL - TELECENTRO,6,SATELITAL,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
789209,2017,1,900209693,CALDAS DATA COMPANY LTDA,17,CALDAS,17444,MARQUETALIA,7,CORPORATIVO,1,WIFI,1,789210
789210,2017,1,900209693,CALDAS DATA COMPANY LTDA,17,CALDAS,17444,MARQUETALIA,8,CAFÉ INTERNET,1,WIFI,3,789211
789211,2017,1,900209693,CALDAS DATA COMPANY LTDA,17,CALDAS,17444,MARQUETALIA,8,CAFÉ INTERNET,1,WIFI,2,789212
789212,2017,1,900209693,CALDAS DATA COMPANY LTDA,17,CALDAS,17444,MARQUETALIA,8,CAFÉ INTERNET,1,WIFI,3,789213
789213,2017,1,900209693,CALDAS DATA COMPANY LTDA,17,CALDAS,17446,MARULANDA,3,RESIDENCIAL - ESTRATO 3,1,WIFI,1,789214

In [116]:
# Accesos de Internet Fijo desde 2017-2T
id = '540ea080-bf16-4d63-911f-3b4814e8e4f1'
df_internet_2 = get_df_from_link(id)
df_internet_2.to_csv(f'./bases_datos/accesos_internet_fijo_desde20172T.csv', index=False)
df_internet_2

,anno,trimestre,id_empresa,empresa,id_municipio,municipio,id_departamento,departamento,id_segmento,segmento,velocidad_efectiva_downstream,velocidad_efectiva_upstream,id_tecnologia,tecnologia,accesos,entry_id
0,2017,2,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76147,CARTAGO,76,VALLE DEL CAUCA,104,Residencial - Estrato 4,1,"0,5",114,Otras tecnologías inalámbricas,7,1
1,2017,2,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76147,CARTAGO,76,VALLE DEL CAUCA,101,Residencial - Estrato 1,2,1,114,Otras tecnologías inalámbricas,1,2
2,2017,2,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76147,CARTAGO,76,VALLE DEL CAUCA,107,Corporativo,"0,8","0,5",114,Otras tecnologías inalámbricas,1,3
3,2017,2,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76147,CARTAGO,76,VALLE DEL CAUCA,107,Corporativo,"2,8",2,114,Otras tecnologías inalámbricas,13,4
4,2017,2,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76147,CARTAGO,76,VALLE DEL CAUCA,104,Residencial - Estrato 4,"1,5","0,7",114,Otras tecnologías inalámbricas,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505576,2022,1,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15407,VILLA DE LEYVA,15,BOYACÁ,107,Corporativo,40,20,104,WiFi,2,1505577
1505577,2022,1,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15776,SUTAMARCHÁN,15,BOYACÁ,102,Residencial - Estrato 2,15,"7,5",104,WiFi,2,1505578
1505578,2022,1,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15407,VILLA DE LEYVA,15,BOYACÁ,102,Residencial - Estrato 2,5,"2,5",104,WiFi,10,1505579
1505579,2022,1,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15407,VILLA DE LEYVA,15,BOYACÁ,107,Corporativo,30,15,104,WiFi,2,1505580
1505580,2022,1,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15776,SUTAMARCHÁN,15,BOYACÁ,107,Corporativo,8,4,104,WiFi,1,1505581

In [117]:
# Ingresos de Internet Fijo
id = 'd917a68d-9cb9-4257-82f1-74115a4cf629'
df_internet_ingresos = get_df_from_link(id)
df_internet_ingresos.to_csv(f'./bases_datos/ingresos_internet_fijo.csv', index=False)
df_internet_ingresos

,anno,trimestre,id_empresa,empresa,id_servicio,servicio,id_concepto,concepto,ingresos,entry_id
0,2012,1,900022836,@NY PHONE S A ESP,101,Acceso fijo a Internet,NA,NA,46053095,1
1,2012,1,830016046,AVANTEL S.A.S,101,Acceso fijo a Internet,NA,NA,198129006,2
2,2012,1,830119051,AXESAT S.A.,101,Acceso fijo a Internet,NA,NA,2534730983,3
3,2012,1,900258177,BRASIL TELECOM DE COLOMBIA EMPRESA UNIPERSONAL,101,Acceso fijo a Internet,NA,NA,208241534,4
4,2012,1,900047715,CABLE & TV YOPAL SAS,101,Acceso fijo a Internet,NA,NA,57420000,5
...,...,...,...,...,...,...,...,...,...,...
11212,2022,1,2800000008,GROUP TELECOMUNICACIONES P&C SAS,101,Acceso fijo a Internet,0,NA,242697160,11213
11213,2022,1,2800000009,SUSETELCO S.A.S,101,Acceso fijo a Internet,0,NA,155468564,11214
11214,2022,1,2800000010,REDES INTEGRALES DE TELECOMUNICACIONES AyG SAS,101,Acceso fijo a Internet,0,NA,400219675,11215
11215,2022,1,2800000011,TV SUR LTDA,101,Acceso fijo a Internet,0,NA,42857336,11216
11216,2022,1,2800000014,SERTELCON S.A.S.,101,Acceso fijo a Internet,0,NA,13762873,11217