In [4]:
import pandas as pd

In [30]:
df_7 = pd.read_csv('./bases_datos/accesos_internet_fijo_hasta20171T_p1.csv')
df_8 = pd.read_csv('./bases_datos/accesos_internet_fijo_hasta20171T_p2.csv')
df_9 = pd.read_csv('./bases_datos/accesos_internet_fijo_hasta20171T_p3.csv')
df_1 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p1.csv')
df_2 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p2.csv')
df_3 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p3.csv')
df_4 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p4.csv')
df_5 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p5.csv')
df_6 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p6.csv')
df_internet_sucrp = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6])

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_12308\3022981636.py:6: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_3 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p3.csv')

In [31]:
df_internet_sucrp
# Crear una columna con los datos temporales
df_internet_sucrp['datetime']=  df_internet_sucrp.apply(lambda row: f'{row.anno}/{str(row.trimestre).zfill(2)}', axis=1)
# Organizar el dataframe

lista_columnas = ['datetime', 'id_empresa', 'empresa', 'id_departamento', 'departamento', 'id_municipio', 'municipio', 'accesos']
df_internet_sucrp = df_internet_sucrp[lista_columnas]
# Eliminar entradas que no tienen datos por departamento

df_internet_sucrp = df_internet_sucrp.dropna(subset=['departamento', 'accesos'])
# Eliminar entradas con suscriptores = 0
df_internet_sucrp = df_internet_sucrp[df_internet_sucrp.accesos != 0]
df_internet_sucrp.reset_index(drop=True, inplace=True)

# Lista de los años / meses
datetime_list = df_internet_sucrp.datetime.unique()
#Lista departamentos
dpto_list = df_internet_sucrp.departamento.unique()
# Lista municipios
mpio_list = df_internet_sucrp.municipio.unique()

In [32]:
df_internet_sucrp

,datetime,id_empresa,empresa,id_departamento,departamento,id_municipio,municipio,accesos
0,2017/02,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76,VALLE DEL CAUCA,76147,CARTAGO,7
1,2017/02,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76,VALLE DEL CAUCA,76147,CARTAGO,1
2,2017/02,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76,VALLE DEL CAUCA,76147,CARTAGO,1
3,2017/02,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76,VALLE DEL CAUCA,76147,CARTAGO,13
4,2017/02,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76,VALLE DEL CAUCA,76147,CARTAGO,2
...,...,...,...,...,...,...,...,...
1505576,2022/01,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15,BOYACÁ,15407,VILLA DE LEYVA,2
1505577,2022/01,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15,BOYACÁ,15776,SUTAMARCHÁN,2
1505578,2022/01,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15,BOYACÁ,15407,VILLA DE LEYVA,10
1505579,2022/01,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15,BOYACÁ,15407,VILLA DE LEYVA,2
1505580,2022/01,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15,BOYACÁ,15776,SUTAMARCHÁN,1

In [33]:
# Lista de municipios y departamentos con códigos, se necesita para más adelante
lista_dpto_mpio = df_internet_sucrp[['id_departamento', 'departamento', 'id_municipio', 'municipio']].drop_duplicates().sort_values(by=['id_municipio'])
lista_dpto_mpio.reset_index(drop=True, inplace=True)
lista_dpto_mpio

      id_departamento departamento  id_municipio       municipio
0                   0     COLOMBIA             0        COLOMBIA
1                   5    ANTIOQUIA          5001        MEDELLÍN
2                   5    ANTIOQUIA          5002       ABEJORRAL
3                   5    ANTIOQUIA          5004        ABRIAQUÍ
4                   5    ANTIOQUIA          5021      ALEJANDRÍA
...               ...          ...           ...             ...
1117               97       VAUPÉS         97889        YAVARATÉ
1118               99      VICHADA         99001  PUERTO CARREÑO
1119               99      VICHADA         99524    LA PRIMAVERA
1120               99      VICHADA         99624   SANTA ROSALÍA
1121               99      VICHADA         99773        CUMARIBO

[1122 rows x 4 columns]

In [34]:
# Suscriptores por municipio
## Suscriptores por municipio con operador

In [35]:
lista_dpto_mpio_operador= df_internet_sucrp.groupby(['datetime', 'id_departamento', 'departamento', 'id_municipio', 'municipio', 'empresa'])['accesos'].sum()
lista_dpto_mpio_operador.to_csv('./bases_datos/suscriptores_internet_mpio_operador.csv')
lista_dpto_mpio_operador = pd.read_csv('./bases_datos/suscriptores_internet_mpio_operador.csv', index_col=0)
lista_dpto_mpio_operador = lista_dpto_mpio_operador.sort_values(by=['datetime', 'departamento','municipio', 'accesos'], ascending=[True, True, True, False])
# Se guarda la vase de datos de suscriptores por municipio por operador
lista_dpto_mpio_operador.to_csv('./bases_datos/suscriptores_internet_mpio_operador.csv')

In [36]:
lista_dpto_mpio_operador = pd.read_csv('./bases_datos/suscriptores_internet_mpio_operador.csv')
lista_dpto_mpio_operador

,datetime,id_departamento,departamento,id_municipio,municipio,empresa,accesos
0,2017/02,91,AMAZONAS,91405,LA CHORRERA,SKYNET DE COLOMBIA S.A.S. E.S.P,1
1,2017/02,91,AMAZONAS,91001,LETICIA,COLOMBIA TELECOMUNICACIONES S.A. E.S.P.,341
2,2017/02,91,AMAZONAS,91001,LETICIA,AXESAT S.A.,50
3,2017/02,91,AMAZONAS,91001,LETICIA,SKYNET DE COLOMBIA S.A.S. E.S.P,20
4,2017/02,91,AMAZONAS,91001,LETICIA,IFX NETWORKS COLOMBIA S.A.S.,4
...,...,...,...,...,...,...,...
157592,2022/01,99,VICHADA,99001,PUERTO CARREÑO,AZTECA COMUNICACIONES COLOMBIA S.A.S,1
157593,2022/01,99,VICHADA,99001,PUERTO CARREÑO,CENTURYLINK COLOMBIA S.A.,1
157594,2022/01,99,VICHADA,99624,SANTA ROSALÍA,AXESAT S.A.,8
157595,2022/01,99,VICHADA,99624,SANTA ROSALÍA,AZTECA COMUNICACIONES COLOMBIA S.A.S,2
157596,2022/01,99,VICHADA,99624,SANTA ROSALÍA,SKYNET DE COLOMBIA S.A.S. E.S.P,1

## Suscriptores por municipio sin operador

In [37]:
df_tv_sucrp_mpio= df_internet_sucrp.groupby(['datetime', 'id_departamento', 'departamento', 'id_municipio', 'municipio'])['accesos'].sum()
df_tv_sucrp_mpio.to_csv('./bases_datos/suscriptores_internet_mpio.csv')
df_tv_sucrp_mpio = pd.read_csv('./bases_datos/suscriptores_internet_mpio.csv', index_col=0)
df_tv_sucrp_mpio = df_tv_sucrp_mpio.sort_values(by=['datetime', 'accesos'], ascending=[True, False])
# Se guarda la vase de datos de suscriptores por municipio por operador
df_tv_sucrp_mpio.to_csv('./bases_datos/suscriptores_internet_mpio.csv')

In [38]:
df_tv_sucrp_dpto = pd.read_csv('./bases_datos/suscriptores_internet_mpio.csv')
df_tv_sucrp_dpto

,datetime,id_departamento,departamento,id_municipio,municipio,accesos
0,2017/02,11,BOGOTÁ D.C.,11001,"BOGOTÁ, D.C.",1776759
1,2017/02,5,ANTIOQUIA,5001,MEDELLÍN,556657
2,2017/02,76,VALLE DEL CAUCA,76001,CALI,446689
3,2017/02,8,ATLÁNTICO,8001,BARRANQUILLA,213641
4,2017/02,68,SANTANDER,68001,BUCARAMANGA,143867
...,...,...,...,...,...,...
22252,2022/01,94,GUAINÍA,94885,LA GUADALUPE,2
22253,2022/01,91,AMAZONAS,91405,LA CHORRERA,1
22254,2022/01,91,AMAZONAS,91430,LA VICTORIA,1
22255,2022/01,97,VAUPÉS,97777,PAPUNAHUA,1
22256,2022/01,97,VAUPÉS,97889,YAVARATÉ,1

In [63]:
df = pd.DataFrame(columns=datetime_list)
for index, municipio_info in lista_dpto_mpio.iterrows():
    df_dpto_temp = df_tv_sucrp_dpto[df_tv_sucrp_dpto['id_municipio'] == municipio_info['id_municipio']].drop(['id_departamento', 'departamento','id_municipio', 'municipio'], axis=1)
    df_dpto_temp = df_dpto_temp.rename(columns = {'accesos': municipio_info['id_municipio']}).set_index(['datetime']).T
    df_dpto_temp['municipio'] = municipio_info['municipio']
    df_dpto_temp['departamento'] = municipio_info['departamento']
    df = pd.concat([df, df_dpto_temp])

new_columns = list(df.columns)[:-2]
new_columns.insert(0, 'departamento')
new_columns.insert(1, 'municipio')
df.drop(index=[0, 27086], inplace=True)
df = df[new_columns]
df.dropna(subset=['municipio'], inplace=True)
df.to_csv('./bases_datos/suscriptores_internet_mpio_2.csv')
df.fillna(0, inplace=True)
df

,departamento,municipio,2017/02,2017/03,2017/04,2018/01,2018/02,2018/03,2018/04,2019/01,...,2019/04,2020/01,2020/02,2020/03,2020/04,2021/01,2021/02,2021/03,2021/04,2022/01
5001,ANTIOQUIA,MEDELLÍN,556657,565341,569520,574317,578335,586446,592660,600822,...,618829,632088,655541,659446,668344,683096,684278,692937,702760,714990
5002,ANTIOQUIA,ABEJORRAL,940,967,962,985,1023,1046,1037,1072,...,1074,1075,16148,21365,24735,2113,2303,2259,2230,2405
5004,ANTIOQUIA,ABRIAQUÍ,68,68,65,73,75,73,71,82,...,83,96,124,135,134,127,129,128,155,159
5021,ANTIOQUIA,ALEJANDRÍA,293,293,289,302,308,322,317,316,...,303,288,275,266,224,187,399,439,335,668
5030,ANTIOQUIA,AMAGÁ,2642,2519,2668,2712,2804,2860,3005,3113,...,3181,3088,3030,3110,2985,3402,3809,3752,3760,3679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97889,VAUPÉS,YAVARATÉ,0,0,0,0,0,0,0,0,...,1,1,1,0,1,1,1,1,1,1
99001,VICHADA,PUERTO CARREÑO,891,899,2088,1393,891,782,818,1142,...,1091,1290,1358,1397,1336,1469,1393,1342,1205,998
99524,VICHADA,LA PRIMAVERA,33,32,40,38,38,34,34,61,...,24,19,19,21,19,20,19,21,23,21
99624,VICHADA,SANTA ROSALÍA,15,13,13,13,13,12,12,12,...,16,14,14,15,9,9,10,14,12,11
99773,VICHADA,CUMARIBO,72,72,76,76,75,75,72,107,...,34,36,43,41,25,23,23,44,41,49

## Cruce de los datos de suscripción con los de vivienda (DANE)

In [58]:
df_viv1=pd.read_excel("./dane/vivi1.xlsx",sheet_name="esta")[1:]
df_viv2=pd.read_excel("./dane/vivi2.xlsx",sheet_name="esta")[1:]
df_viv=df_viv1.merge(df_viv2,on=["depto","mpio","tipo"],how='outer').fillna(0)
del df_viv2,df_viv1
df_viv = df_viv[df_viv['tipo']=='Total'].drop(['depto_id_x', 'tipo', 'depto_id_y', 'mpio_id_y',
                                               2005, 2006, 2007, 2008, 2009, 2010, 2011,
                                               2012], axis=1)
df_viv.columns = df_viv.columns.astype(str)
df_viv.set_index('mpio_id_x', inplace=True)
df_viv

,depto,mpio,2013,2014,2015,2016,2017,2018,2019,2020,...,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
mpio_id_x,,,,,,,,,,,,,,,,,,,,,
5001.0,Antioquia,Medellín,731307.0,757919.0,785770.0,815365.0,847631.0,875182.0,912028.0,947700.0,...,1159832.0,1196061.0,1231192.0,1264978.0,1297160.0,1328247.0,1358721.0,1388597.0,1417922.0,1446673.0
5002.0,Antioquia,Abejorral,8743.0,8944.0,9052.0,9171.0,9323.0,9363.0,9478.0,9607.0,...,11256.0,11543.0,11833.0,12133.0,12421.0,12711.0,13002.0,13300.0,13597.0,13868.0
5004.0,Antioquia,Abriaquí,1105.0,1122.0,1142.0,1166.0,1193.0,1237.0,1255.0,1273.0,...,1542.0,1579.0,1618.0,1655.0,1701.0,1736.0,1782.0,1817.0,1861.0,1898.0
5021.0,Antioquia,Alejandría,2123.0,2205.0,2291.0,2322.0,2371.0,2520.0,2582.0,2642.0,...,3069.0,3156.0,3243.0,3330.0,3406.0,3493.0,3570.0,3645.0,3735.0,3810.0
5030.0,Antioquia,Amagá,10302.0,10711.0,11138.0,11405.0,11672.0,12046.0,12351.0,12649.0,...,15038.0,15435.0,15830.0,16231.0,16626.0,17032.0,17423.0,17807.0,18192.0,18570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97889.0,Vaupés,Yavaraté (CD),107.0,113.0,117.0,120.0,124.0,188.0,188.0,188.0,...,194.0,197.0,199.0,201.0,213.0,227.0,242.0,258.0,277.0,297.0
99001.0,Vichada,Puerto Carreño,6088.0,6310.0,6557.0,6809.0,7076.0,7414.0,7667.0,7878.0,...,8957.0,9138.0,9301.0,9495.0,9750.0,10003.0,10239.0,10485.0,10729.0,10959.0
99524.0,Vichada,La Primavera,2776.0,2920.0,3071.0,3223.0,3401.0,3532.0,3649.0,3752.0,...,4250.0,4375.0,4500.0,4623.0,4764.0,4897.0,5033.0,5169.0,5299.0,5426.0
99624.0,Vichada,Santa Rosalía,867.0,934.0,1001.0,1051.0,1118.0,1261.0,1318.0,1370.0,...,1540.0,1576.0,1620.0,1670.0,1719.0,1769.0,1821.0,1866.0,1918.0,1966.0
99773.0,Vichada,Cumaribo,12394.0,13041.0,13726.0,14493.0,15342.0,16286.0,17274.0,18217.0,...,22828.0,23675.0,24580.0,25498.0,26424.0,27398.0,28398.0,29427.0,30477.0,31560.0

In [81]:
lista_info = list()
for index, row in df.iterrows():
    new_row = [row.name,  row['departamento'], row['municipio']]
    for date in datetime_list:
        new_row.append(min(100, round(row[date] / df_viv.loc[index][date[:-3]] * 100, 2)))
    lista_info.append(new_row)
df_internet_suscrip_percent = pd.DataFrame(lista_info, columns=df.columns.insert(0,'municipio_id'))
df_internet_suscrip_percent.set_index(['municipio_id'], inplace=True)
df_internet_suscrip_percent = df_internet_suscrip_percent.fillna(0)
# Guardar los datos
df_internet_suscrip_percent.to_csv('./bases_datos/suscriptores_internet_mpio_porcentaje.csv')

In [82]:
df_internet_suscrip_percent

,departamento,municipio,2017/02,2017/03,2017/04,2018/01,2018/02,2018/03,2018/04,2019/01,...,2019/04,2020/01,2020/02,2020/03,2020/04,2021/01,2021/02,2021/03,2021/04,2022/01
municipio_id,,,,,,,,,,,,,,,,,,,,,
5001,ANTIOQUIA,MEDELLÍN,65.67,66.70,67.19,65.62,66.08,67.01,67.72,65.88,...,67.85,66.70,69.17,69.58,70.52,69.66,69.78,70.66,71.67,70.49
5002,ANTIOQUIA,ABEJORRAL,10.08,10.37,10.32,10.52,10.93,11.17,11.08,11.31,...,11.33,11.19,100.00,100.00,100.00,21.36,23.28,22.83,22.54,23.72
5004,ANTIOQUIA,ABRIAQUÍ,5.70,5.70,5.45,5.90,6.06,5.90,5.74,6.53,...,6.61,7.54,9.74,10.60,10.53,9.59,9.74,9.67,11.71,11.57
5021,ANTIOQUIA,ALEJANDRÍA,12.36,12.36,12.19,11.98,12.22,12.78,12.58,12.24,...,11.74,10.90,10.41,10.07,8.48,6.88,14.68,16.15,12.33,23.97
5030,ANTIOQUIA,AMAGÁ,22.64,21.58,22.86,22.51,23.28,23.74,24.95,25.20,...,25.75,24.41,23.95,24.59,23.60,26.14,29.26,28.82,28.89,27.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97889,VAUPÉS,YAVARATÉ,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.53,0.53,0.53,0.00,0.53,0.53,0.53,0.53,0.53,0.53
99001,VICHADA,PUERTO CARREÑO,12.59,12.70,29.51,18.79,12.02,10.55,11.03,14.90,...,14.23,16.37,17.24,17.73,16.96,18.17,17.23,16.60,14.91,12.09
99524,VICHADA,LA PRIMAVERA,0.97,0.94,1.18,1.08,1.08,0.96,0.96,1.67,...,0.66,0.51,0.51,0.56,0.51,0.52,0.50,0.55,0.60,0.54
99624,VICHADA,SANTA ROSALÍA,1.34,1.16,1.16,1.03,1.03,0.95,0.95,0.91,...,1.21,1.02,1.02,1.09,0.66,0.64,0.71,1.00,0.86,0.77
99773,VICHADA,CUMARIBO,0.47,0.47,0.50,0.47,0.46,0.46,0.44,0.62,...,0.20,0.20,0.24,0.23,0.14,0.12,0.12,0.23,0.22,0.25