In [3]:
import pandas as pd

In [4]:
df_7 = pd.read_csv('./bases_datos/accesos_internet_fijo_hasta20171T_p1.csv')
df_8 = pd.read_csv('./bases_datos/accesos_internet_fijo_hasta20171T_p2.csv')
df_9 = pd.read_csv('./bases_datos/accesos_internet_fijo_hasta20171T_p3.csv')
df_1 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p1.csv')
df_2 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p2.csv')
df_3 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p3.csv')
df_4 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p4.csv')
df_5 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p5.csv')
df_6 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p6.csv')
df_internet_sucrp = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6])

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_20608\3022981636.py:6: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_3 = pd.read_csv('./bases_datos/accesos_internet_fijo_desde20172T_p3.csv')

In [5]:
df_internet_sucrp
# Crear una columna con los datos temporales
df_internet_sucrp['datetime']=  df_internet_sucrp.apply(lambda row: f'{row.anno}/{str(row.trimestre).zfill(2)}', axis=1)
# Organizar el dataframe

lista_columnas = ['datetime', 'id_empresa', 'empresa', 'id_departamento', 'departamento', 'id_municipio', 'municipio', 'accesos']
df_internet_sucrp = df_internet_sucrp[lista_columnas]
# Eliminar entradas que no tienen datos por departamento

df_internet_sucrp = df_internet_sucrp.dropna(subset=['departamento', 'accesos'])
# Eliminar entradas con suscriptores = 0
df_internet_sucrp = df_internet_sucrp[df_internet_sucrp.accesos != 0]
df_internet_sucrp.reset_index(drop=True, inplace=True)

# Lista de los años / meses
datetime_list = df_internet_sucrp.datetime.unique()
#Lista departamentos
dpto_list = df_internet_sucrp.departamento.unique()
# Lista municipios
mpio_list = df_internet_sucrp.municipio.unique()

In [6]:
df_internet_sucrp

,datetime,id_empresa,empresa,id_departamento,departamento,id_municipio,municipio,accesos
0,2017/02,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76,VALLE DEL CAUCA,76147,CARTAGO,7
1,2017/02,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76,VALLE DEL CAUCA,76147,CARTAGO,1
2,2017/02,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76,VALLE DEL CAUCA,76147,CARTAGO,1
3,2017/02,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76,VALLE DEL CAUCA,76147,CARTAGO,13
4,2017/02,900217277,SYSTEL COMUNICACIONES CARTAGO S.A.S.,76,VALLE DEL CAUCA,76147,CARTAGO,2
...,...,...,...,...,...,...,...,...
1505576,2022/01,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15,BOYACÁ,15407,VILLA DE LEYVA,2
1505577,2022/01,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15,BOYACÁ,15776,SUTAMARCHÁN,2
1505578,2022/01,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15,BOYACÁ,15407,VILLA DE LEYVA,10
1505579,2022/01,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15,BOYACÁ,15407,VILLA DE LEYVA,2
1505580,2022/01,901397346,AJ GLOBAL PROYECTOS NET S.A.S.,15,BOYACÁ,15776,SUTAMARCHÁN,1

In [7]:
# Lista de municipios y departamentos con códigos, se necesita para más adelante
lista_dpto_mpio = df_internet_sucrp[['id_departamento', 'departamento', 'id_municipio', 'municipio']].drop_duplicates().sort_values(by=['id_municipio'])
lista_dpto_mpio.reset_index(drop=True, inplace=True)
lista_dpto_mpio

      id_departamento departamento  id_municipio       municipio
0                   0     COLOMBIA             0        COLOMBIA
1                   5    ANTIOQUIA          5001        MEDELLÍN
2                   5    ANTIOQUIA          5002       ABEJORRAL
3                   5    ANTIOQUIA          5004        ABRIAQUÍ
4                   5    ANTIOQUIA          5021      ALEJANDRÍA
...               ...          ...           ...             ...
1117               97       VAUPÉS         97889        YAVARATÉ
1118               99      VICHADA         99001  PUERTO CARREÑO
1119               99      VICHADA         99524    LA PRIMAVERA
1120               99      VICHADA         99624   SANTA ROSALÍA
1121               99      VICHADA         99773        CUMARIBO

[1122 rows x 4 columns]

In [8]:
# Suscriptores por municipio
## Suscriptores por municipio con operador

In [9]:
lista_dpto_mpio_operador= df_internet_sucrp.groupby(['datetime', 'id_departamento', 'departamento', 'id_municipio', 'municipio', 'empresa'])['accesos'].sum()
lista_dpto_mpio_operador.to_csv('./bases_datos/suscriptores_internet_mpio_operador.csv')
lista_dpto_mpio_operador = pd.read_csv('./bases_datos/suscriptores_internet_mpio_operador.csv', index_col=0)
lista_dpto_mpio_operador = lista_dpto_mpio_operador.sort_values(by=['datetime', 'departamento','municipio', 'accesos'], ascending=[True, True, True, False])
# Se guarda la vase de datos de suscriptores por municipio por operador
lista_dpto_mpio_operador.to_csv('./bases_datos/suscriptores_internet_mpio_operador.csv')

In [10]:
lista_dpto_mpio_operador = pd.read_csv('./bases_datos/suscriptores_internet_mpio_operador.csv')
lista_dpto_mpio_operador

,datetime,id_departamento,departamento,id_municipio,municipio,empresa,accesos
0,2017/02,91,AMAZONAS,91405,LA CHORRERA,SKYNET DE COLOMBIA S.A.S. E.S.P,1
1,2017/02,91,AMAZONAS,91001,LETICIA,COLOMBIA TELECOMUNICACIONES S.A. E.S.P.,341
2,2017/02,91,AMAZONAS,91001,LETICIA,AXESAT S.A.,50
3,2017/02,91,AMAZONAS,91001,LETICIA,SKYNET DE COLOMBIA S.A.S. E.S.P,20
4,2017/02,91,AMAZONAS,91001,LETICIA,IFX NETWORKS COLOMBIA S.A.S.,4
...,...,...,...,...,...,...,...
157592,2022/01,99,VICHADA,99001,PUERTO CARREÑO,AZTECA COMUNICACIONES COLOMBIA S.A.S,1
157593,2022/01,99,VICHADA,99001,PUERTO CARREÑO,CENTURYLINK COLOMBIA S.A.,1
157594,2022/01,99,VICHADA,99624,SANTA ROSALÍA,AXESAT S.A.,8
157595,2022/01,99,VICHADA,99624,SANTA ROSALÍA,AZTECA COMUNICACIONES COLOMBIA S.A.S,2
157596,2022/01,99,VICHADA,99624,SANTA ROSALÍA,SKYNET DE COLOMBIA S.A.S. E.S.P,1

## Suscriptores por municipio sin operador

In [11]:
df_tv_sucrp_mpio= df_internet_sucrp.groupby(['datetime', 'id_departamento', 'departamento', 'id_municipio', 'municipio'])['accesos'].sum()
df_tv_sucrp_mpio.to_csv('./bases_datos/suscriptores_internet_mpio.csv')
df_tv_sucrp_mpio = pd.read_csv('./bases_datos/suscriptores_internet_mpio.csv', index_col=0)
df_tv_sucrp_mpio = df_tv_sucrp_mpio.sort_values(by=['datetime', 'accesos'], ascending=[True, False])
# Se guarda la vase de datos de suscriptores por municipio por operador
df_tv_sucrp_mpio.to_csv('./bases_datos/suscriptores_internet_mpio.csv')

In [12]:
df_tv_sucrp_dpto = pd.read_csv('./bases_datos/suscriptores_internet_mpio.csv')
df_tv_sucrp_dpto

,datetime,id_departamento,departamento,id_municipio,municipio,accesos
0,2017/02,11,BOGOTÁ D.C.,11001,"BOGOTÁ, D.C.",1776759
1,2017/02,5,ANTIOQUIA,5001,MEDELLÍN,556657
2,2017/02,76,VALLE DEL CAUCA,76001,CALI,446689
3,2017/02,8,ATLÁNTICO,8001,BARRANQUILLA,213641
4,2017/02,68,SANTANDER,68001,BUCARAMANGA,143867
...,...,...,...,...,...,...
22252,2022/01,94,GUAINÍA,94885,LA GUADALUPE,2
22253,2022/01,91,AMAZONAS,91405,LA CHORRERA,1
22254,2022/01,91,AMAZONAS,91430,LA VICTORIA,1
22255,2022/01,97,VAUPÉS,97777,PAPUNAHUA,1
22256,2022/01,97,VAUPÉS,97889,YAVARATÉ,1

In [13]:
df = pd.DataFrame(columns=datetime_list)
for index, municipio_info in lista_dpto_mpio.iterrows():
    df_dpto_temp = df_tv_sucrp_dpto[df_tv_sucrp_dpto['id_municipio'] == municipio_info['id_municipio']].drop(['id_departamento', 'departamento','id_municipio', 'municipio'], axis=1)
    df_dpto_temp = df_dpto_temp.rename(columns = {'accesos': municipio_info['id_municipio']}).set_index(['datetime']).T
    df_dpto_temp['municipio'] = municipio_info['municipio']
    df_dpto_temp['departamento'] = municipio_info['departamento']
    df = pd.concat([df, df_dpto_temp])

new_columns = list(df.columns)[:-2]
new_columns.insert(0, 'departamento')
new_columns.insert(1, 'municipio')
df.drop(index=[0, 27086], inplace=True)
df = df[new_columns]
df.dropna(subset=['municipio'], inplace=True)
df.to_csv('./bases_datos/suscriptores_internet_mpio_2.csv')
df.fillna(0, inplace=True)
df

,departamento,municipio,2017/02,2017/03,2017/04,2018/01,2018/02,2018/03,2018/04,2019/01,...,2019/04,2020/01,2020/02,2020/03,2020/04,2021/01,2021/02,2021/03,2021/04,2022/01
5001,ANTIOQUIA,MEDELLÍN,556657,565341,569520,574317,578335,586446,592660,600822,...,618829,632088,655541,659446,668344,683096,684278,692937,702760,714990
5002,ANTIOQUIA,ABEJORRAL,940,967,962,985,1023,1046,1037,1072,...,1074,1075,16148,21365,24735,2113,2303,2259,2230,2405
5004,ANTIOQUIA,ABRIAQUÍ,68,68,65,73,75,73,71,82,...,83,96,124,135,134,127,129,128,155,159
5021,ANTIOQUIA,ALEJANDRÍA,293,293,289,302,308,322,317,316,...,303,288,275,266,224,187,399,439,335,668
5030,ANTIOQUIA,AMAGÁ,2642,2519,2668,2712,2804,2860,3005,3113,...,3181,3088,3030,3110,2985,3402,3809,3752,3760,3679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97889,VAUPÉS,YAVARATÉ,0,0,0,0,0,0,0,0,...,1,1,1,0,1,1,1,1,1,1
99001,VICHADA,PUERTO CARREÑO,891,899,2088,1393,891,782,818,1142,...,1091,1290,1358,1397,1336,1469,1393,1342,1205,998
99524,VICHADA,LA PRIMAVERA,33,32,40,38,38,34,34,61,...,24,19,19,21,19,20,19,21,23,21
99624,VICHADA,SANTA ROSALÍA,15,13,13,13,13,12,12,12,...,16,14,14,15,9,9,10,14,12,11
99773,VICHADA,CUMARIBO,72,72,76,76,75,75,72,107,...,34,36,43,41,25,23,23,44,41,49

In [14]:
import matplotlib.pyplot as plt
import numpy as np
# Se crea el modelo para la regresion lineal
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [15]:
# creación lista fechas por trimestre
datetime_list_post = ['2022/04']
n = 2023
for i in range(5):
    j = 1
    for j in range(4):
        datetime_list_post.append(f'{n+i}/{str(j+1).zfill(2)}')
datetime_list_post.append('r2')

In [16]:
X = np.array(range(len(datetime_list))).reshape(-1,1)
# valores para los próximo 5 años (22 datos)
X_post = np.array(range(len(datetime_list),len(datetime_list) + 21 )).reshape(-1,1)
Y_list = df.drop(['departamento', 'municipio'], axis=1)
# Se divide el dataset en dos, set de entrenamiento y set para las predicciones

In [17]:
df_1 = pd.DataFrame(columns=datetime_list_post)
for index, data in Y_list.iterrows():
    y = np.array(data).reshape(-1,1)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1, random_state=142857)
    # Se entrena el modelo
    reg = LinearRegression()
    reg.fit(X_train, y_train)
    # predicción
    y_pred = reg.predict(X_train)

    y_post = reg.predict(X_post)
    y_post = y_post.T.tolist()[0]

    y_post.append(r2_score(y_train, y_pred))

    df_1.loc[data.name] = y_post

In [18]:
df_1

,2022/04,2023/01,2023/02,2023/03,2023/04,2024/01,2024/02,2024/03,2024/04,2025/01,...,2025/04,2026/01,2026/02,2026/03,2026/04,2027/01,2027/02,2027/03,2027/04,r2
5001,715971.197007,724420.317706,732869.438404,741318.559102,749767.679800,758216.800499,766665.921197,775115.041895,783564.162594,792013.283292,...,817360.645387,825809.766085,834258.886783,842708.007481,851157.128180,859606.248878,868055.369576,876504.490274,884953.610973,0.981385
5002,9131.583541,9569.047382,10006.511222,10443.975062,10881.438903,11318.902743,11756.366584,12193.830424,12631.294264,13068.758105,...,14381.149626,14818.613466,15256.077307,15693.541147,16131.004988,16568.468828,17005.932668,17443.396509,17880.860349,0.121997
5004,153.692436,158.741978,163.791521,168.841064,173.890607,178.940150,183.989692,189.039235,194.088778,199.138321,...,214.286949,219.336492,224.386035,229.435578,234.485121,239.534663,244.584206,249.633749,254.683292,0.874969
5021,416.344140,424.263840,432.183541,440.103242,448.022943,455.942643,463.862344,471.782045,479.701746,487.621446,...,511.380549,519.300249,527.219950,535.139651,543.059352,550.979052,558.898753,566.818454,574.738155,0.251474
5030,3757.956359,3817.849875,3877.743392,3937.636908,3997.530424,4057.423940,4117.317456,4177.210973,4237.104489,4296.998005,...,4476.678554,4536.572070,4596.465586,4656.359102,4716.252618,4776.146135,4836.039651,4895.933167,4955.826683,0.816169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97889,1.208229,1.276309,1.344389,1.412469,1.480549,1.548628,1.616708,1.684788,1.752868,1.820948,...,2.025187,2.093267,2.161347,2.229426,2.297506,2.365586,2.433666,2.501746,2.569825,0.619526
99001,1277.591022,1285.353117,1293.115212,1300.877307,1308.639401,1316.401496,1324.163591,1331.925686,1339.687781,1347.449875,...,1370.736160,1378.498254,1386.260349,1394.022444,1401.784539,1409.546633,1417.308728,1425.070823,1432.832918,0.023292
99524,17.748545,16.534996,15.321446,14.107897,12.894347,11.680798,10.467249,9.253699,8.040150,6.826600,...,3.185952,1.972402,0.758853,-0.454697,-1.668246,-2.881796,-4.095345,-5.308894,-6.522444,0.368191
99624,11.704489,11.623441,11.542394,11.461347,11.380299,11.299252,11.218204,11.137157,11.056110,10.975062,...,10.731920,10.650873,10.569825,10.488778,10.407731,10.326683,10.245636,10.164589,10.083541,0.066404
99773,28.159601,25.389027,22.618454,19.847880,17.077307,14.306733,11.536160,8.765586,5.995012,3.224439,...,-5.087282,-7.857855,-10.628429,-13.399002,-16.169576,-18.940150,-21.710723,-24.481297,-27.251870,0.449726

In [19]:
df_full = pd.concat([df, df_1], axis=1, join="outer").reindex(df.index).fillna(0)
df_full

,departamento,municipio,2017/02,2017/03,2017/04,2018/01,2018/02,2018/03,2018/04,2019/01,...,2025/04,2026/01,2026/02,2026/03,2026/04,2027/01,2027/02,2027/03,2027/04,r2
5001,ANTIOQUIA,MEDELLÍN,556657,565341,569520,574317,578335,586446,592660,600822,...,817360.645387,825809.766085,834258.886783,842708.007481,851157.128180,859606.248878,868055.369576,876504.490274,884953.610973,0.981385
5002,ANTIOQUIA,ABEJORRAL,940,967,962,985,1023,1046,1037,1072,...,14381.149626,14818.613466,15256.077307,15693.541147,16131.004988,16568.468828,17005.932668,17443.396509,17880.860349,0.121997
5004,ANTIOQUIA,ABRIAQUÍ,68,68,65,73,75,73,71,82,...,214.286949,219.336492,224.386035,229.435578,234.485121,239.534663,244.584206,249.633749,254.683292,0.874969
5021,ANTIOQUIA,ALEJANDRÍA,293,293,289,302,308,322,317,316,...,511.380549,519.300249,527.219950,535.139651,543.059352,550.979052,558.898753,566.818454,574.738155,0.251474
5030,ANTIOQUIA,AMAGÁ,2642,2519,2668,2712,2804,2860,3005,3113,...,4476.678554,4536.572070,4596.465586,4656.359102,4716.252618,4776.146135,4836.039651,4895.933167,4955.826683,0.816169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97889,VAUPÉS,YAVARATÉ,0,0,0,0,0,0,0,0,...,2.025187,2.093267,2.161347,2.229426,2.297506,2.365586,2.433666,2.501746,2.569825,0.619526
99001,VICHADA,PUERTO CARREÑO,891,899,2088,1393,891,782,818,1142,...,1370.736160,1378.498254,1386.260349,1394.022444,1401.784539,1409.546633,1417.308728,1425.070823,1432.832918,0.023292
99524,VICHADA,LA PRIMAVERA,33,32,40,38,38,34,34,61,...,3.185952,1.972402,0.758853,-0.454697,-1.668246,-2.881796,-4.095345,-5.308894,-6.522444,0.368191
99624,VICHADA,SANTA ROSALÍA,15,13,13,13,13,12,12,12,...,10.731920,10.650873,10.569825,10.488778,10.407731,10.326683,10.245636,10.164589,10.083541,0.066404
99773,VICHADA,CUMARIBO,72,72,76,76,75,75,72,107,...,-5.087282,-7.857855,-10.628429,-13.399002,-16.169576,-18.940150,-21.710723,-24.481297,-27.251870,0.449726

## Cruce de los datos de suscripción con los de vivienda (DANE)

In [23]:
df_viv1=pd.read_excel("./dane/vivi1.xlsx",sheet_name="esta")[1:]
df_viv2=pd.read_excel("./dane/vivi2.xlsx",sheet_name="esta")[1:]
df_viv=df_viv1.merge(df_viv2,on=["depto","mpio","tipo"],how='outer').fillna(0)
del df_viv2,df_viv1
df_viv = df_viv[df_viv['tipo']=='Total'].drop(['depto_id_x', 'tipo', 'depto_id_y', 'mpio_id_y',
                                               2005, 2006, 2007, 2008, 2009, 2010, 2011,
                                               2012], axis=1)
df_viv.columns = df_viv.columns.astype(str)
df_viv.set_index('mpio_id_x', inplace=True)
df_viv

,depto,mpio,2013,2014,2015,2016,2017,2018,2019,2020,...,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
mpio_id_x,,,,,,,,,,,,,,,,,,,,,
5001.0,Antioquia,Medellín,731307.0,757919.0,785770.0,815365.0,847631.0,875182.0,912028.0,947700.0,...,1159832.0,1196061.0,1231192.0,1264978.0,1297160.0,1328247.0,1358721.0,1388597.0,1417922.0,1446673.0
5002.0,Antioquia,Abejorral,8743.0,8944.0,9052.0,9171.0,9323.0,9363.0,9478.0,9607.0,...,11256.0,11543.0,11833.0,12133.0,12421.0,12711.0,13002.0,13300.0,13597.0,13868.0
5004.0,Antioquia,Abriaquí,1105.0,1122.0,1142.0,1166.0,1193.0,1237.0,1255.0,1273.0,...,1542.0,1579.0,1618.0,1655.0,1701.0,1736.0,1782.0,1817.0,1861.0,1898.0
5021.0,Antioquia,Alejandría,2123.0,2205.0,2291.0,2322.0,2371.0,2520.0,2582.0,2642.0,...,3069.0,3156.0,3243.0,3330.0,3406.0,3493.0,3570.0,3645.0,3735.0,3810.0
5030.0,Antioquia,Amagá,10302.0,10711.0,11138.0,11405.0,11672.0,12046.0,12351.0,12649.0,...,15038.0,15435.0,15830.0,16231.0,16626.0,17032.0,17423.0,17807.0,18192.0,18570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97889.0,Vaupés,Yavaraté (CD),107.0,113.0,117.0,120.0,124.0,188.0,188.0,188.0,...,194.0,197.0,199.0,201.0,213.0,227.0,242.0,258.0,277.0,297.0
99001.0,Vichada,Puerto Carreño,6088.0,6310.0,6557.0,6809.0,7076.0,7414.0,7667.0,7878.0,...,8957.0,9138.0,9301.0,9495.0,9750.0,10003.0,10239.0,10485.0,10729.0,10959.0
99524.0,Vichada,La Primavera,2776.0,2920.0,3071.0,3223.0,3401.0,3532.0,3649.0,3752.0,...,4250.0,4375.0,4500.0,4623.0,4764.0,4897.0,5033.0,5169.0,5299.0,5426.0
99624.0,Vichada,Santa Rosalía,867.0,934.0,1001.0,1051.0,1118.0,1261.0,1318.0,1370.0,...,1540.0,1576.0,1620.0,1670.0,1719.0,1769.0,1821.0,1866.0,1918.0,1966.0
99773.0,Vichada,Cumaribo,12394.0,13041.0,13726.0,14493.0,15342.0,16286.0,17274.0,18217.0,...,22828.0,23675.0,24580.0,25498.0,26424.0,27398.0,28398.0,29427.0,30477.0,31560.0

In [31]:
new_datetime_list = list(datetime_list) + datetime_list_post
lista_info = list()
for index, row in df_full.iterrows():
    new_row = [row.name,  row['departamento'], row['municipio']]
    for date in new_datetime_list:
        try:
            new_row.append(max(0,min(100, round(row[date] / df_viv.loc[index][date[:-3]] * 100, 2))))
        except KeyError:
            new_row.append(row[date])
    lista_info.append(new_row)
df_internet_suscrip_percent = pd.DataFrame(lista_info, columns=df_full.columns.insert(0,'municipio_id'))
df_internet_suscrip_percent.set_index(['municipio_id'], inplace=True)
df_internet_suscrip_percent = df_internet_suscrip_percent.fillna(0)
# Guardar los datos
df_internet_suscrip_percent.to_csv('./bases_datos/suscriptores_internet_mpio_porcentaje.csv')

In [32]:
df_internet_suscrip_percent

,departamento,municipio,2017/02,2017/03,2017/04,2018/01,2018/02,2018/03,2018/04,2019/01,...,2025/04,2026/01,2026/02,2026/03,2026/04,2027/01,2027/02,2027/03,2027/04,r2
municipio_id,,,,,,,,,,,,,,,,,,,,,
5001,ANTIOQUIA,MEDELLÍN,65.67,66.70,67.19,65.62,66.08,67.01,67.72,65.88,...,72.80,71.20,71.93,72.66,73.39,71.87,72.58,73.28,73.99,0.981385
5002,ANTIOQUIA,ABEJORRAL,10.08,10.37,10.32,10.52,10.93,11.17,11.08,11.31,...,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,0.121997
5004,ANTIOQUIA,ABRIAQUÍ,5.70,5.70,5.45,5.90,6.06,5.90,5.74,6.53,...,14.29,14.22,14.55,14.88,15.21,15.17,15.49,15.81,16.13,0.874969
5021,ANTIOQUIA,ALEJANDRÍA,12.36,12.36,12.19,11.98,12.22,12.78,12.58,12.24,...,17.07,16.92,17.18,17.44,17.69,17.46,17.71,17.96,18.21,0.251474
5030,ANTIOQUIA,AMAGÁ,22.64,21.58,22.86,22.51,23.28,23.74,24.95,25.20,...,30.55,30.17,30.57,30.96,31.36,30.94,31.33,31.72,32.11,0.816169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97889,VAUPÉS,YAVARATÉ,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,1.05,1.08,1.11,1.15,1.18,1.20,1.24,1.27,1.30,0.619526
99001,VICHADA,PUERTO CARREÑO,12.59,12.70,29.51,18.79,12.02,10.55,11.03,14.90,...,15.63,15.39,15.48,15.56,15.65,15.43,15.51,15.59,15.68,0.023292
99524,VICHADA,LA PRIMAVERA,0.97,0.94,1.18,1.08,1.08,0.96,0.96,1.67,...,0.08,0.05,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.368191
99624,VICHADA,SANTA ROSALÍA,1.34,1.16,1.16,1.03,1.03,0.95,0.95,0.91,...,0.71,0.69,0.69,0.68,0.68,0.66,0.65,0.64,0.64,0.066404
99773,VICHADA,CUMARIBO,0.47,0.47,0.50,0.47,0.46,0.46,0.44,0.62,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.449726