In [1]:
import pandas as pd

# Suscriptores de TV
Primero se cargan los datos extraidos de postdata y se organiza un dataframe desde el año 2013

In [306]:
df_1 = pd.read_csv('./bases_datos/suscriptores_tv_p1.csv', low_memory=False)
df_2 = pd.read_csv('./bases_datos/suscriptores_tv_p2.csv', low_memory=False)
df_tv_sucrp = pd.concat([df_1,df_2])

# Eliminar datos anteriones a 2013
df_tv_sucrp = df_tv_sucrp.iloc[1703:]
df_tv_sucrp.reset_index(drop=True, inplace=True)

# Crear una columna con los datos temporales
df_tv_sucrp['datetime']=  df_tv_sucrp.apply(lambda row: f'{row.anno}/{str(row.mes + 3*(row.trimestre-1)).zfill(2)}', axis=1)

# Organizar el dataframe
lista_columnas = ['datetime', 'id_operador', 'operador', 'id_departamento', 'departamento', 'id_municipio', 'municipio', 'suscriptores', 'entry_id']
df_tv_sucrp = df_tv_sucrp[lista_columnas]

# Eliminar entradas que no tienen datos por departamento
df_tv_sucrp = df_tv_sucrp.dropna(subset=['departamento', 'suscriptores'])

# Eliminar entradas con suscriptores = 0
df_tv_sucrp = df_tv_sucrp[df_tv_sucrp.suscriptores != 0]
df_tv_sucrp.reset_index(drop=True, inplace=True)

# Lista de los años / meses
datetime_list = df_tv_sucrp.datetime.unique()
#Lista departamentos
dpto_list = df_tv_sucrp.departamento.unique()
# Lista municipios
mpio_list = df_tv_sucrp.municipio.unique()

In [307]:
df_tv_sucrp

,datetime,id_operador,operador,id_departamento,departamento,id_municipio,municipio,suscriptores,entry_id
0,2013/01,800075305,INGENIERIA EN POTENCIA ELECTRICA Y COMUNICACIO...,54,NORTE DE SANTANDER,54498,OCAÑA,1452,1705
1,2013/01,800132211,H V TELEVISION S.A.S.,11,BOGOTÁ D.C.,11001,"BOGOTÁ, D.C.",7664,1706
2,2013/01,800132211,H V TELEVISION S.A.S.,25,CUNDINAMARCA,25754,SOACHA,27790,1708
3,2013/01,800179562,LEGON TELECOMUNICACIONES S.A.S.,5,ANTIOQUIA,5154,CAUCASIA,365,1709
4,2013/01,800193670,PROMOTORA DE TELEVISION. INTERNET Y COMUNICACI...,66,RISARALDA,66088,BELÉN DE UMBRÍA,1591,1710
...,...,...,...,...,...,...,...,...,...
507524,2022/03,901453896,FIBERLINKNETWORKS S.A.S,5,ANTIOQUIA,5736,SEGOVIA,903,546737
507525,2022/03,901453896,FIBERLINKNETWORKS S.A.S,86,PUTUMAYO,86568,PUERTO ASÍS,135,546738
507526,2022/03,901460140,DIGI COMUNICACIONES TV. NET S.A.S.,13,BOLÍVAR,13650,SAN FERNANDO,49,546739
507527,2022/03,901491625,VITEL COMUNICACIONES NET SAS,68,SANTANDER,68276,FLORIDABLANCA,142,546740
507528,2022/03,901501135,TUNET-WORK S.A.S.,54,NORTE DE SANTANDER,54405,LOS PATIOS,115,546741

Ahora se extrae la lista de los municipios y departamentos junto con los id de cada uno

In [285]:
# Lista de municipios y departamentos con códigos, se necesita para más adelante
lista_dpto_mpio = df_tv_sucrp[['id_departamento', 'departamento', 'id_municipio', 'municipio']].drop_duplicates().sort_values(by=['id_municipio'])
lista_dpto_mpio.reset_index(drop=True, inplace=True)
lista_dpto_mpio

      id_departamento departamento  id_municipio       municipio
0                   5    ANTIOQUIA          5001        MEDELLÍN
1                   5    ANTIOQUIA          5002       ABEJORRAL
2                   5    ANTIOQUIA          5004        ABRIAQUÍ
3                   5    ANTIOQUIA          5021      ALEJANDRÍA
4                   5    ANTIOQUIA          5030           AMAGÁ
...               ...          ...           ...             ...
1117               99      VICHADA         99001  PUERTO CARREÑO
1118               99      VICHADA         99524    LA PRIMAVERA
1119               99      VICHADA         99624   SANTA ROSALÍA
1120               99      VICHADA         99773        CUMARIBO
1121               13      BOLÍVAR         99999             NaN

[1122 rows x 4 columns]

# Suscriptores por municipio

## Suscriptores por municipio con operador

In [312]:
lista_dpto_mpio_operador= df_tv_sucrp.groupby(['datetime', 'id_departamento', 'departamento', 'id_municipio', 'municipio', 'operador'])['suscriptores'].sum()
lista_dpto_mpio_operador.to_csv('./bases_datos/suscriptores_tv_mpio_operador.csv')
lista_dpto_mpio_operador = pd.read_csv('./bases_datos/suscriptores_tv_mpio_operador.csv', index_col=0)
lista_dpto_mpio_operador = lista_dpto_mpio_operador.sort_values(by=['datetime', 'departamento','municipio', 'suscriptores'], ascending=[True, True, True, False])
# Se guarda la vase de datos de suscriptores por municipio por operador
lista_dpto_mpio_operador.to_csv('./bases_datos/suscriptores_tv_mpio_operador.csv')

In [313]:
lista_dpto_mpio_operador = pd.read_csv('./bases_datos/suscriptores_tv_mpio_operador.csv')
lista_dpto_mpio_operador

,datetime,id_departamento,departamento,id_municipio,municipio,operador,suscriptores
0,2013/01,91,AMAZONAS,91263,EL ENCANTO,DIRECTV COLOMBIA LTDA,3
1,2013/01,91,AMAZONAS,91405,LA CHORRERA,DIRECTV COLOMBIA LTDA,9
2,2013/01,91,AMAZONAS,91407,LA PEDRERA,DIRECTV COLOMBIA LTDA,2
3,2013/01,91,AMAZONAS,91001,LETICIA,TELMEX COLOMBIA S.A.,2475
4,2013/01,91,AMAZONAS,91001,LETICIA,DIRECTV COLOMBIA LTDA,1323
...,...,...,...,...,...,...,...
362114,2022/03,99,VICHADA,99001,PUERTO CARREÑO,DIRECTV COLOMBIA LTDA,1632
362115,2022/03,99,VICHADA,99001,PUERTO CARREÑO,COMUNICACION CELULAR S A COMCEL S A,535
362116,2022/03,99,VICHADA,99001,PUERTO CARREÑO,COLOMBIA TELECOMUNICACIONES S.A. E.S.P.,146
362117,2022/03,99,VICHADA,99624,SANTA ROSALÍA,DIRECTV COLOMBIA LTDA,122
362118,2022/03,99,VICHADA,99624,SANTA ROSALÍA,COLOMBIA TELECOMUNICACIONES S.A. E.S.P.,1

## Suscriptores por municipio sin operador

In [320]:
df_tv_sucrp_mpio= df_tv_sucrp.groupby(['datetime', 'id_departamento', 'departamento', 'id_municipio', 'municipio'])['suscriptores'].sum()
df_tv_sucrp_mpio.to_csv('./bases_datos/suscriptores_tv_mpio.csv')
df_tv_sucrp_mpio = pd.read_csv('./bases_datos/suscriptores_tv_mpio.csv', index_col=0)
df_tv_sucrp_mpio = df_tv_sucrp_mpio.sort_values(by=['datetime', 'suscriptores'], ascending=[True, False])
# Se guarda la vase de datos de suscriptores por municipio por operador
df_tv_sucrp_mpio.to_csv('./bases_datos/suscriptores_tv_mpio.csv')

In [322]:
df_tv_sucrp_dpto = pd.read_csv('./bases_datos/suscriptores_tv_mpio.csv')
df_tv_sucrp_dpto

,datetime,id_departamento,departamento,id_municipio,municipio,suscriptores
0,2013/01,11,BOGOTÁ D.C.,11001,"BOGOTÁ, D.C.",1049966
1,2013/01,5,ANTIOQUIA,5001,MEDELLÍN,429656
2,2013/01,76,VALLE DEL CAUCA,76001,CALI,317193
3,2013/01,8,ATLÁNTICO,8001,BARRANQUILLA,136635
4,2013/01,13,BOLÍVAR,13001,CARTAGENA DE INDIAS,105065
...,...,...,...,...,...,...
122648,2022/03,97,VAUPÉS,97889,YAVARATÉ,4
122649,2022/03,52,NARIÑO,52565,PROVIDENCIA,3
122650,2022/03,94,GUAINÍA,94887,PANA PANA,2
122651,2022/03,91,AMAZONAS,91430,LA VICTORIA,1
122652,2022/03,97,VAUPÉS,97511,PACOA,1

Organizar los datos por municipio

In [323]:
df = pd.DataFrame(columns=datetime_list)
for index, municipio_info in lista_dpto_mpio.iterrows():
    df_dpto_temp = df_tv_sucrp_dpto[df_tv_sucrp_dpto['id_municipio'] == municipio_info['id_municipio']].drop(['id_departamento', 'departamento','id_municipio', 'municipio'], axis=1)
    df_dpto_temp = df_dpto_temp.rename(columns = {'suscriptores': municipio_info['id_municipio']}).set_index(['datetime']).T
    df_dpto_temp['municipio'] = municipio_info['municipio']
    df_dpto_temp['departamento'] = municipio_info['departamento']
    df = pd.concat([df, df_dpto_temp])

new_columns = list(df.columns)[:-2]
new_columns.insert(0, 'departamento')
new_columns.insert(1, 'municipio')
df = df[new_columns]
df.dropna(subset=['municipio'], inplace=True)
df.to_csv('./bases_datos/suscriptores_tv_mpio_2.csv')
df

,departamento,municipio,2013/01,2013/02,2013/03,2013/04,2013/05,2013/06,2013/07,2013/08,...,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12,2022/01,2022/02,2022/03
5001,ANTIOQUIA,MEDELLÍN,429656,434842,437496,440099,441941,442715,441317,442757,...,564524,566002,568814,572539,578213,585230,587439,594804,599744,603056
5002,ANTIOQUIA,ABEJORRAL,121,122,139,137,140,156,150,160,...,444,452,464,467,503,521,517,538,529,540
5004,ANTIOQUIA,ABRIAQUÍ,31,13,12,10,10,19,23,24,...,354,342,363,362,382,417,393,405,384,369
5021,ANTIOQUIA,ALEJANDRÍA,58,54,60,66,66,65,67,69,...,147,141,135,128,127,128,165,142,142,136
5030,ANTIOQUIA,AMAGÁ,1610,1721,1801,1758,1692,1589,1604,1619,...,1945,1954,1261,1238,1768,1717,1684,1651,1638,1615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97889,VAUPÉS,YAVARATÉ,1,1,1,1,1,NaN,NaN,NaN,...,4,3,4,3,1,2,4,3,4,4
99001,VICHADA,PUERTO CARREÑO,1823,1750,1765,1794,1811,1814,1867,1884,...,2347,2307,2270,2278,2249,2310,2281,2291,2262,2313
99524,VICHADA,LA PRIMAVERA,151,162,170,174,186,188,193,200,...,367,358,374,380,370,389,402,453,427,461
99624,VICHADA,SANTA ROSALÍA,115,117,122,125,128,120,126,130,...,127,128,131,131,125,131,122,127,124,123
99773,VICHADA,CUMARIBO,362,357,338,337,343,329,350,345,...,826,772,730,696,624,686,738,724,706,823

## Cruce de los datos de suscripción con los de vivienda (DANE)

In [324]:
df_viv1=pd.read_excel("./dane/vivi1.xlsx",sheet_name="esta")[1:]
df_viv2=pd.read_excel("./dane/vivi2.xlsx",sheet_name="esta")[1:]
df_viv=df_viv1.merge(df_viv2,on=["depto","mpio","tipo"],how='outer').fillna(0)
del df_viv2,df_viv1
df_viv = df_viv[df_viv['tipo']=='Total'].drop(['depto_id_x', 'tipo', 'depto_id_y', 'mpio_id_y',
                                               2005, 2006, 2007, 2008, 2009, 2010, 2011,
                                               2012], axis=1)
df_viv.columns = df_viv.columns.astype(str)
df_viv.set_index('mpio_id_x', inplace=True)
df_viv

,depto,mpio,2013,2014,2015,2016,2017,2018,2019,2020,...,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
mpio_id_x,,,,,,,,,,,,,,,,,,,,,
5001.0,Antioquia,Medellín,731307.0,757919.0,785770.0,815365.0,847631.0,875182.0,912028.0,947700.0,...,1159832.0,1196061.0,1231192.0,1264978.0,1297160.0,1328247.0,1358721.0,1388597.0,1417922.0,1446673.0
5002.0,Antioquia,Abejorral,8743.0,8944.0,9052.0,9171.0,9323.0,9363.0,9478.0,9607.0,...,11256.0,11543.0,11833.0,12133.0,12421.0,12711.0,13002.0,13300.0,13597.0,13868.0
5004.0,Antioquia,Abriaquí,1105.0,1122.0,1142.0,1166.0,1193.0,1237.0,1255.0,1273.0,...,1542.0,1579.0,1618.0,1655.0,1701.0,1736.0,1782.0,1817.0,1861.0,1898.0
5021.0,Antioquia,Alejandría,2123.0,2205.0,2291.0,2322.0,2371.0,2520.0,2582.0,2642.0,...,3069.0,3156.0,3243.0,3330.0,3406.0,3493.0,3570.0,3645.0,3735.0,3810.0
5030.0,Antioquia,Amagá,10302.0,10711.0,11138.0,11405.0,11672.0,12046.0,12351.0,12649.0,...,15038.0,15435.0,15830.0,16231.0,16626.0,17032.0,17423.0,17807.0,18192.0,18570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97889.0,Vaupés,Yavaraté (CD),107.0,113.0,117.0,120.0,124.0,188.0,188.0,188.0,...,194.0,197.0,199.0,201.0,213.0,227.0,242.0,258.0,277.0,297.0
99001.0,Vichada,Puerto Carreño,6088.0,6310.0,6557.0,6809.0,7076.0,7414.0,7667.0,7878.0,...,8957.0,9138.0,9301.0,9495.0,9750.0,10003.0,10239.0,10485.0,10729.0,10959.0
99524.0,Vichada,La Primavera,2776.0,2920.0,3071.0,3223.0,3401.0,3532.0,3649.0,3752.0,...,4250.0,4375.0,4500.0,4623.0,4764.0,4897.0,5033.0,5169.0,5299.0,5426.0
99624.0,Vichada,Santa Rosalía,867.0,934.0,1001.0,1051.0,1118.0,1261.0,1318.0,1370.0,...,1540.0,1576.0,1620.0,1670.0,1719.0,1769.0,1821.0,1866.0,1918.0,1966.0
99773.0,Vichada,Cumaribo,12394.0,13041.0,13726.0,14493.0,15342.0,16286.0,17274.0,18217.0,...,22828.0,23675.0,24580.0,25498.0,26424.0,27398.0,28398.0,29427.0,30477.0,31560.0

In [325]:
lista_info = list()
for index, row in df.iterrows():
    new_row = [row.name,  row['departamento'], row['municipio']]
    for date in datetime_list:
        new_row.append(round(row[date] / df_viv.loc[index][date[:-3]] * 100, 2))
    lista_info.append(new_row)
df_tv_suscrip_percent = pd.DataFrame(lista_info, columns=df.columns.insert(0,'municipio_id'))
df_tv_suscrip_percent.set_index(['municipio_id'], inplace=True)
df_tv_suscrip_percent = df_tv_suscrip_percent.fillna(0)
# Guardar los datos
df_tv_suscrip_percent.to_csv('./bases_datos/suscriptores_tv_mpio_porcentaje.csv')

In [326]:
df_tv_suscrip_percent

,departamento,municipio,2013/01,2013/02,2013/03,2013/04,2013/05,2013/06,2013/07,2013/08,...,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12,2022/01,2022/02,2022/03
municipio_id,,,,,,,,,,,,,,,,,,,,,
5001,ANTIOQUIA,MEDELLÍN,58.75,59.46,59.82,60.18,60.43,60.54,60.35,60.54,...,57.57,57.72,58.01,58.39,58.96,59.68,59.91,58.64,59.13,59.46
5002,ANTIOQUIA,ABEJORRAL,1.38,1.40,1.59,1.57,1.60,1.78,1.72,1.83,...,4.49,4.57,4.69,4.72,5.08,5.27,5.23,5.31,5.22,5.33
5004,ANTIOQUIA,ABRIAQUÍ,2.81,1.18,1.09,0.90,0.90,1.72,2.08,2.17,...,26.74,25.83,27.42,27.34,28.85,31.50,29.68,29.48,27.95,26.86
5021,ANTIOQUIA,ALEJANDRÍA,2.73,2.54,2.83,3.11,3.11,3.06,3.16,3.25,...,5.41,5.19,4.97,4.71,4.67,4.71,6.07,5.10,5.10,4.88
5030,ANTIOQUIA,AMAGÁ,15.63,16.71,17.48,17.06,16.42,15.42,15.57,15.72,...,14.94,15.01,9.69,9.51,13.58,13.19,12.94,12.29,12.19,12.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97889,VAUPÉS,YAVARATÉ,0.93,0.93,0.93,0.93,0.93,0.00,0.00,0.00,...,2.13,1.60,2.13,1.60,0.53,1.06,2.13,1.60,2.13,2.13
99001,VICHADA,PUERTO CARREÑO,29.94,28.75,28.99,29.47,29.75,29.80,30.67,30.95,...,29.04,28.54,28.08,28.18,27.82,28.58,28.22,27.76,27.41,28.03
99524,VICHADA,LA PRIMAVERA,5.44,5.84,6.12,6.27,6.70,6.77,6.95,7.20,...,9.59,9.35,9.77,9.93,9.67,10.16,10.50,11.63,10.97,11.84
99624,VICHADA,SANTA ROSALÍA,13.26,13.49,14.07,14.42,14.76,13.84,14.53,14.99,...,9.08,9.15,9.36,9.36,8.93,9.36,8.72,8.92,8.71,8.64
99773,VICHADA,CUMARIBO,2.92,2.88,2.73,2.72,2.77,2.65,2.82,2.78,...,4.35,4.06,3.84,3.66,3.29,3.61,3.89,3.67,3.58,4.17

# Suscripotores por departamento

## Suscriptores por departamento con operador

In [331]:
lista_dpto_operador= df_tv_sucrp.groupby(['datetime', 'id_departamento', 'departamento', 'operador'])['suscriptores'].sum()
lista_dpto_operador.to_csv('./bases_datos/suscriptores_tv_dpto_operador.csv')
lista_dpto_operador = pd.read_csv('./bases_datos/suscriptores_tv_dpto_operador.csv', index_col=0)
lista_dpto_operador = lista_dpto_operador.sort_values(by=['datetime', 'departamento', 'suscriptores'], ascending=[True, True, False])
# Se guarda la vase de datos de suscriptores por municipio por operador
lista_dpto_operador.to_csv('./bases_datos/suscriptores_tv_dpto_operador.csv')

In [332]:
lista_dpto_operador = pd.read_csv('./bases_datos/suscriptores_tv_dpto_operador.csv')
lista_dpto_operador

,datetime,id_departamento,departamento,operador,suscriptores
0,2013/01,91,AMAZONAS,TELMEX COLOMBIA S.A.,2475
1,2013/01,91,AMAZONAS,DIRECTV COLOMBIA LTDA,1381
2,2013/01,91,AMAZONAS,COLOMBIA TELECOMUNICACIONES S.A. E.S.P.,292
3,2013/01,5,ANTIOQUIA,UNE EPM TELECOMUNICACIONES S.A.,528197
4,2013/01,5,ANTIOQUIA,TELMEX COLOMBIA S.A.,162782
...,...,...,...,...,...
33219,2022/03,97,VAUPÉS,COMUNICACION CELULAR S A COMCEL S A,241
33220,2022/03,97,VAUPÉS,COLOMBIA TELECOMUNICACIONES S.A. E.S.P.,56
33221,2022/03,99,VICHADA,DIRECTV COLOMBIA LTDA,2926
33222,2022/03,99,VICHADA,COMUNICACION CELULAR S A COMCEL S A,647
33223,2022/03,99,VICHADA,COLOMBIA TELECOMUNICACIONES S.A. E.S.P.,147

## Suscriptores por departamento sin operador

In [333]:
lista_dpto= df_tv_sucrp.groupby(['datetime', 'id_departamento', 'departamento'])['suscriptores'].sum()
lista_dpto.to_csv('./bases_datos/suscriptores_tv_dpto.csv')
lista_dpto = pd.read_csv('./bases_datos/suscriptores_tv_dpto.csv', index_col=0)
lista_dpto = lista_dpto.sort_values(by=['datetime', 'departamento', 'suscriptores'], ascending=[True, True, False])
# Se guarda la vase de datos de suscriptores por municipio por operador
lista_dpto.to_csv('./bases_datos/suscriptores_tv_dpto.csv')

In [334]:
lista_dpto = pd.read_csv('./bases_datos/suscriptores_tv_dpto.csv')
lista_dpto

,datetime,id_departamento,departamento,suscriptores
0,2013/01,91,AMAZONAS,4148
1,2013/01,5,ANTIOQUIA,806450
2,2013/01,81,ARAUCA,10189
3,2013/01,88,"ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANT...",6444
4,2013/01,8,ATLÁNTICO,197265
...,...,...,...,...
3658,2022/03,70,SUCRE,57844
3659,2022/03,73,TOLIMA,149179
3660,2022/03,76,VALLE DEL CAUCA,660366
3661,2022/03,97,VAUPÉS,1924
3662,2022/03,99,VICHADA,3720

## Operadores